{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <div class="row justify-content-between my-3">
        <div class="col-2">
            <select class="form-control so">
                <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순</option>
                <option value="audience_rate" {% if so == 'audience_rate' %}selected{% endif %}>관람객 평점순</option>
                <option value="netizen_rate" {% if so == 'netizen_rate' %}selected{% endif %}>네티즌 평점순</option>
                <option value="journalist_rate" {% if so == 'journalist_rate' %}selected{% endif %}>기자 평점순</option>
                <option value="title" {% if so == 'title' %}selected{% endif %}>이름순</option>
            </select>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control kw" value="{{ kw|default_if_none:'' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search1">영화 찾기</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input type="text" id="search_akw" class="form-control akw" value="{{ akw|default_if_none:'' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search2">배우 찾기</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input type="text" id="search_dkw" class="form-control dkw" value="{{ dkw|default_if_none:'' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search3">감독 찾기</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr class="table-dark, text-center">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>원어제목</th>
            <th>개봉일</th>
        </tr>
        </thead>
        <tbody>
        {% if movie_list %}
        {% for movie in movie_list %}
        <tr class="text-center">
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                <!-- {{ movie_list.paginator.count|add:movie_list.start_index|sub:22|add:forloop.counter0 }} -->
                {{ movie_list.start_index|add:forloop.counter0 }}
            </td>
            <td>
                <a href="{% url 'pybo:detail' movie.movie_code %}">{{ movie.title }}</a>
            </td>
            <td>
                <a href="{% url 'pybo:detail' movie.movie_code %}">{{ movie.original_title }}</a>
            </td>
            
            <td>{{ movie.opening_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">영화가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if movie_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?kw={{ kw }}&akw={{ akw }}&dkw={{ dkw }}&page={{ movie_list.previous_page_number }}&so={{ so }}">이전</a>
            <!-- <a class="page-link" data-page="{{ movie_list.previous_page_number }}"
           href="javascript:void(0)">이전</a> -->
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            <!-- <a class="page-link" tabindex="-1" aria-disabled="true"
               href="javascript:void(0)">이전</a> -->
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in movie_list.paginator.page_range %}
        {% if page_number >= movie_list.number|add:-5 and page_number <= movie_list.number|add:5 %}
        {% if page_number == movie_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?kw={{ kw }}&akw={{ akw }}&dkw={{ dkw }}&page={{ page_number }}&so={{ so }}">{{ page_number }}</a>
            <!-- <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a> -->
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?kw={{ kw }}&akw={{ akw }}&dkw={{ dkw }}&page={{ page_number }}&so={{ so }}">{{ page_number }}</a>
            <!-- <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a> -->
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if movie_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?kw={{ kw }}&akw={{ akw }}&dkw={{ dkw }}&page={{ movie_list.next_page_number }}&so={{ so }}">다음</a>
            <!-- <a class="page-link" data-page="{{ movie_list.next_page_number }}"
           href="javascript:void(0)">다음</a> -->
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            <!-- <a class="page-link" tabindex="-1" aria-disabled="true"
            href="javascript:void(0)">다음</a> -->
        </li>
        {% endif %}
        
    </ul>
    <!-- 페이징처리 끝 -->
</div>
<form id="searchForm" method="get" action="{% url 'pybo:index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="akw" name="akw" value="{{ akw|default_if_none:'' }}">
    <input type="hidden" id="dkw" name="dkw" value="{{ dkw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search1").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });

    $("#btn_search2").on('click', function() {
        $("#akw").val($(".akw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });

    $("#btn_search3").on('click', function() {
        $("#dkw").val($(".dkw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });

    $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}



